body {
  font-family: sans-serif;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
}

.icon_img {
  width: 30px;
  margin: 10px;
  border-radius: 100px;
}

.head_text {
  color: #e62117;
}

.twit_text {
  color: #00acee;
}

.counter {
  color: gray;
}